# Dependency directories
node_modules/

# Environment variables
.env

# Log files
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for uploaded CSV files
data/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace